body {
  background: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 20px;
  text-align: center;
/*  margin: 20px 0 20px;*/
}
h1 small {
  display: block;
  font-size: 15px;
/*  padding-top: 8px;*/
  color: gray;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  
}
.avatar-upload .avatar-edit {
  position: absolute;
  top:150px;
  right: 25px;
 
/*  top: 10px;*/
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  
  color: #757575;
  position: absolute;
  top: 5px;
  left: 1px;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
/*  border: 6px solid #F8F8F8;*/
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
   
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading{
 font-family: 'Open Sans', sans-serif;
}


.picCard{
    position: relative;
    margin-top: -150px;
}

.registerForm{
    margin-top: 30px;
}

